@inherits ComponentBase

<MudCard Style="width: 400px;">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Presets</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Default" OnClick="() => OpenOverlay(OverlayMode.Add)" />
        </CardHeaderActions>
    </MudCardHeader>

    <MudCardContent>
        @if (userPresets != null && userPresets.Any())
        {
            @foreach (var preset in userPresets)
            {
                <MudCard Elevation="2" Class="mb-4">
                    <MudButton Style="width: 100%; padding: 0; display: block; text-align: left; text-transform: none;" OnClick="() => SelectPreset(preset.PresetId)">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6" Style="display: flex; align-items: center;">
                                    <i class="fa @preset.Icon" style="margin-right: 8px;"></i>
                                    @preset.PresetName
                                </MudText>
                                <MudText Typo="Typo.body2" Style="color: gray; margin-left: auto;">
                                @preset.Height
                                </MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" OnClick="() => OpenOverlay(OverlayMode.Edit, preset.PresetId)" />
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => DeletePreset(preset.PresetId)" />
                            </CardHeaderActions>
                        </MudCardHeader>
                    </MudButton>
                </MudCard>
            }
        }
        else
        {
            <MudText>No presets available.</MudText>
        }

        <MudOverlay Visible="currentOverlayMode != OverlayMode.None" DarkBackground="true">
            <MudCard>
                <MudCardContent>
                    <MudTextField @bind-Value="PresetName" Label="Preset Name" Variant="Variant.Filled" />
                    <MudTextField @bind-Value="PresetHeight" Label="Table Height" Variant="Variant.Filled" />
                    <MudSelect T="string" @bind-Value="PresetIcon" Label="Preset Icon" Variant="Variant.Filled">
                        @foreach (var icon in iconOptions)
                        {
                            <MudSelectItem T="string" Value="@icon">
                                <i class="fa @icon" style="margin-right: 8px;"></i>
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudCardContent>
                <MudCardActions>
                    @if (currentOverlayMode == OverlayMode.Add)
                    {
                        <MudButton OnClick="AddPreset" Color="Color.Primary" Variant="Variant.Filled">Add</MudButton>
                    }
                    else if (currentOverlayMode == OverlayMode.Edit)
                    {
                        <MudButton OnClick="EditPreset" Color="Color.Primary" Variant="Variant.Filled">Save</MudButton>
                    }

                    <MudButton OnClick="CancelOverlay" Color="Color.Default" Variant="Variant.Filled" Style="margin-left: 8px;">Cancel</MudButton>

                    <br/>
                    @if (!string.IsNullOrEmpty(ErrorMessage))
                    {
                        <p class="error-message">@ErrorMessage</p>
                    }
                </MudCardActions>
            </MudCard>
        </MudOverlay>
    </MudCardContent>
</MudCard>