@inherits ComponentBase

<MudCard Class="flex" Style="margin: auto;">
    <MudCardHeader Style="text-align: left; display: block;">
        <MudText Typo="Typo.h4"> @(Table?.Name ?? "Unknown Table Name")</MudText>
        <MudText Typo="Typo.h6"> @(Table?.Manufacturer ?? "Unknown Manufacturer")</MudText>
    </MudCardHeader>

    <MudCardContent Style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 8px;">
        <MudImage Src="images/linak-table.jpg" Alt="LINAK table" Elevation="25" Style="max-width: 400px; height: auto;" />
        <MudText Typo="Typo.h6" Style="margin: 16px 0;">@((decimal)tableHeight / 10)</MudText>
    </MudCardContent>

    <MudPaper Style="margin: 10px;" Elevation="0">
        <div Style="width: auto; display: flex; align-items: center; justify-content: center; padding: 8px;">
            <!-- Decrease buttons -->
            <MudButton Style="margin-right: 10px;" Variant="Variant.Outlined" OnClick="() => AdjustTableHeight(-10)" Disabled="@(tempHeight <= 680)">-1</MudButton>
            <MudButton Variant="Variant.Outlined" OnClick="() => AdjustTableHeight(-100)" Disabled="@(tempHeight <= 780)">-10</MudButton>

            <!-- Temporary height display -->
            <MudText Typo="Typo.h6" Style="margin: 0 16px;">@((decimal)tempHeight / 10)</MudText>

            <!-- Increase buttons -->
            <MudButton Variant="Variant.Outlined" OnClick="() => AdjustTableHeight(10)" Disabled="@(tempHeight >= 1320)">+1</MudButton>
            <MudButton Style="margin-left: 10px;" Variant="Variant.Outlined" OnClick="() => AdjustTableHeight(100)" Disabled="@(tempHeight >= 1230)">+10</MudButton>
        </div>
        <!-- Set button -->
        <div Style="padding: 8px;">
            <MudButton FullWidth=true Variant="Variant.Filled" Color="MudBlazor.Color.Primary" OnClick="SetTableHeight">Set</MudButton>
        </div>
    </MudPaper>
</MudCard>