@inherits LayoutComponentBase
@using Famicom.Components.Layout

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<CascadingValue Value="email">
    <CascadingValue Value="userId">
        <MudLayout>
            @if(isLoggedIn) {
            <MudAppBar Elevation="1">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                <MudSpacer />
                <MudText Typo="Typo.h5" Class="ml-3">Famicom Table Managment</MudText>
                <MudSpacer />
                <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle"/>
                <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Inherit" Href="login" Edge="Edge.End"/>
            </MudAppBar>
            <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" >
                <NavMenu @ref="_navMenu"/>
            </MudDrawer>
            }
            
            <MudMainContent Class="mt-16 pa-4">
                @Body
            </MudMainContent>
                
        </MudLayout>
    </CascadingValue>
</CascadingValue>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
